body {
  padding: 0;
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 18px;
  animation: appear 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: auto;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #2272bd;
  letter-spacing: -3px;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 0;
  transition: all .3s;
}

h1.small {
    transform: scale(0.9);
    margin-top: -10px;
}

h5.small {
    opacity: 0;
  margin-bottom: 0;
}

h5 {
  opacity: 1;
  color: #3a8ca5;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-bottom: 10;
}

.about-text {
    padding-top: 50px;
}

a, a:visited {
  color: rgb(53, 50, 243);
  text-decoration: none;
  transition: all .5s;
}

a.about, a.about:visited {
  color: rgb(36, 112, 182);
  text-decoration: none;
}

a:hover {
  color: rgb(36, 112, 182);
}

.hidden {
  display: none;
}

.container {
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  transition: all .3s;
}

.tweet {
  font-size: 1em;
  display: block;
  border-bottom: 3px solid;
  border-radius: 3px;
  border-color: rgba(42,51,59,0.4);
  background-color: rgba(0, 38, 255, 0.055);
  color: black;
  padding: 20px;
  margin: auto;
  margin-top: 3px;
  max-width: 285px;
  min-height: 50px;
  text-align: center;
  font-weight: bold;
  transition: all .3s;
  margin-bottom: 17px;
  cursor: pointer;
  /* text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.568); */
}

.tweet:hover {
  transform: scale(1.17);
  border-bottom: 9px solid;
  border-radius: 6px;
  border-color: rgba(42,51,59,0.4);
  box-shadow: 0 17px 17px -15px rgba(42,51,59,0.7);
  cursor: pointer;
}

.fade-in {
  animation: slide-up 1s normal forwards;
}

button.retweet {
  border: none;
  outline: none;
  background-color: #3a8ca5;
  color: white;
  margin-right: 3px;
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s;
}

button.retweet:hover {
  box-shadow: 0px 3px 4px rgba(42,51,59,0.4)
}

.rt-user {
  text-decoration: underline;
}

#get-tweets {
  color: white;
  cursor: pointer;
  border: none;
  background-color: #3974f5;
  margin-left: 6px;
  position: relative;
  bottom: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 0 200px 200px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1);
  outline: none;
}

#get-tweets:hover {
  outline: none;
  transform: scale(1.23);
  box-shadow: 0 22px 22px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
}

#get-tweets:active {
  transform: scale(1);
  box-shadow: 0 17px 17px -15px rgba(42,51,59,0.7), inset 0 -3px rgba(42,51,59,0.4);
}

button#clear {
  color: white;
  cursor: pointer;
  border: none;
  background-color: #f53939;
  margin-left: 6px;
  position: relative;
  bottom: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 0 200px 200px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1);
  outline: none;
}

button#clear:hover {
  outline: none;
  transform: scale(1.23);
  box-shadow: 0 22px 22px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
}

button#clear:active {
  transform: scale(1);
  box-shadow: 0 17px 17px -15px rgba(42,51,59,0.7), inset 0 -3px rgba(42,51,59,0.4);
}

#username {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  padding: 5px;
  border: none;
  border-radius: 2px;
  width: 120px;
  height: 30px;
  box-shadow: 0 200px 200px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
  transition: all 0.3s;
  background-color: #3974f5;
}

#username:focus {
  box-shadow: 0 17px 17px -15px rgba(42,51,59,0.7), inset 0 -3px rgba(42,51,59,0.4);
  outline: none;
  background-color: #1153e0;
}

#navbar.small {
    transform: scale(0.9);
    margin-top: -25px;
}

@keyframes appear {
  from {
    opacity: 0;
    top:400px;
    text-shadow: 0px 5000px 50px black;
  }
  to {
    opacity: 1;
    top: 0px;
    text-shadow: none;
  }
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}