body {
  margin: 50px 0 0 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #aaa;
  font-size: 18px;
}

h1 {
  color: #719e40;
  letter-spacing: -3px;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 0;
}

body {
  animation: appear 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: auto;
}

h5 {
  color: #719e40;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-bottom: 10;
}

a, a:visited {
  color: #777;
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.tweet {
  font-size: 1.1em;
  display: block;
  border-bottom: 8px solid;
  border-radius: 3px;
  border-color: rgba(42,51,59,0.4);
  background-color: #9dd660;
  color: #fff;
  padding: 3px;
  margin: auto;
  margin-top: 5px;
  max-width: 400px;
  text-align: center;
  transition: all 1s;
  /* animation: slide-up 1s normal forwards; */
  transition: all .2s ease-in-out;
  animation-iteration-count: 1;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet:hover {
  /* animation: scale-tweet 1s ease-in-out forwards;
  animation-direction: initial; 
  z-index: 100; */
  transform: scale(1.1);
}

.fade-in {
  animation: slide-up 1s normal forwards;
}

@keyframes scale-tweet {
  from {
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1); /* Standard syntax */
  }
  to {
    -ms-transform: scale(1.23); /* IE 9 */
    -webkit-transform: scale(1.23); /* Safari */
    transform: scale(1.23); /* Standard syntax */
  }
}

#get-tweets {
  color: white;
  cursor: pointer;
  border: none;
  background-color: #719e40;
  margin-left: 12px;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 0 200px 200px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1);
  outline: none;
}

#get-tweets:hover {
  outline: none;
  transform: scale(1.23);
  box-shadow: 0 22px 22px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
}

#get-tweets:focus,
#get-tweets:active {
  transform: scale(1);
  box-shadow: 0 17px 17px -15px rgba(42,51,59,0.7), inset 0 -3px rgba(42,51,59,0.4);
}

#username {
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding: 5px;
  border: none;
  border-radius: 2px;
  height: 30px;
  box-shadow: 0 200px 200px -15px rgba(42,51,59,0.7), inset 0 -5px rgba(42,51,59,0.4);
  transition: box-shadow 1s;
  background-color: #719e40;  
}

#username:focus {
  box-shadow: 0px 6px 0px #103b14;
  outline: none;
}

@keyframes appear {
  from {
    opacity: 0;
    top:400px;
    text-shadow: 0px 5000px 50px black;
  }
  to {
    opacity: 1;
    top: 0px;
    text-shadow: none;
  }
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}